<div class="formFields">
	<form>
		<input type="text" placeholder="First Name" ng-model="player.firstname">
		<input type="text" placeholder="Last Name" ng-model="player.lastname">
		<input type="text" placeholder="Email" ng-model="player.email">
		<input type="text" placeholder="Sex" ng-model="player.sex">
		<input type="text" placeholder="Age" ng-model="player.age">
		<input type="text" placeholder="Height" ng-model="player.height">
		<input type="text" placeholder="Weight" ng-model="player.weight">
		<input type="text" placeholder="Game" ng-model="player.sports">
		<input type="submit" class="submitBtn" ng-click="addPlayer()"/>
	</form>
</div>
<div class="clearFix"></div>